*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

header li{
    list-style: none;
}

header{
    background-color: #007EA7;
    height: 120px;
}

.logo{
    user-select: none;
    cursor: default;
}

.logo2{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

button{
    appearance: none;
    outline: none;
    border: none;
    background-color: #007EA7;
}

.bar{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #f4e9cd;
    border-radius: 30px;
    transition: 0.3s;
}

.hamburger{
    display: none;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item, .nav_link{
    padding: 5px 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav_link:hover{
    background-color: #fff;
    color: #007EA7;
    border-radius: 50px;
}

.nav_link.active{
    background-color: #fff;
    color: #007EA7;
    border-radius: 50px;
}

div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00171F;
    font-size: 35px;
    padding: 40px 40px 0 40px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #007EA7;
    margin: 50px auto;
    border-radius: 10px;
    width: 40%;
}

.sub_form{
    padding: 20px;
    width: 80%;
}

.sub_form label{
    display: block;
    padding-bottom: 15px;
    color: #007EA7;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.sub_form input{
    height: 30px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #888787;
}

.sub_form input:focus{
    outline: none;
    border-color: #00171F;
}

.sub_form textarea:focus{
    outline: none;
    border-color: #00171F;
}

.sub_form textarea{
    width: 100%;
    padding: 5px;
    height: 114px;
    border: 1px solid #888787;
    border-radius: 5px;
}

.submit_btn{
    padding: 20px;
}

.submit_btn button{
    width: 249px;
    height: 48px;
    background-color: #007EA7;
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.submit_btn button:hover{
    color: #007EA7;
    background-color: #fff;
    border: 0.5px solid #007EA7;
}


/*footer*/
footer{
    color: #fff;
    background: #00171F;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    line-height: 28px;
}

.footer i{
    padding: 5px;
    padding-left: 0px;
}

#socials i{
    width: 30px;
    cursor: pointer;
}

.footer_box1{
    padding: 10px;
    flex: 50%;
}

.footer_box2{
    padding: 10px;
    flex: 50%;
}

footer small{
    padding: 20px;
    color:#f4e9cd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}



@media only screen and (max-width:768px){
    header{
        position: fixed;
        width: 100%;
        height: 80px;
    }
    .nav_menu{
        position: fixed;
        left: -100%;
        flex-direction: column;
        background-color: #007EA7;
        width: 100%;
        height: 250px;
        text-align: center;
        transition: 0.4s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        top: 80px;
    }
    .logo{
        display: none;
    }
    .logo2{
        display: block;
        margin-top: -10px;
    }
    .nav_menu.active{
        left: 0;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger:hover .bar:nth-child(2){
        transform: translateX(10px);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        transition: 0.3s;
        transform: translateX(20px);
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
    div h2{
        margin: auto;
        font-size: 25px;
        padding: 120px 10px 0px 10px;
    }
    form{
        width: 90%;
    }
    .sub_form{
        padding: 10px;
        width: 100%;
    }
    .submit_btn button{
        width: 245px;
        height: 40px;
        font-size: 16px;
        line-height: 24px;
    }
    .footer{
        flex-direction: column;
        padding: 30px;
    }
    footer small{
        font-size: 10px;
    }
}